{% extends "layout.html" %}
{% block body %}


        <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <h1 class="bd-title" id="content">About</h1>
          <p class="bd-lead">The project Snoop is based on machine learning amd used to differentiate between truth and false tweets.Know more about the team maintaining Snoop, how and why this project started and how to get involved.Let's Snoop it...</p>
          <h2 id="team" class="mt-5">Team</h2>

<p>Snoop is maintained by a small team of developers. We're actively looking to grow this team and would love to hear from you...</p>

<h2 id="get-involved" class="mt-5">Get involved</h2>

<p>Get involved with Snoop by giving ur reviews or suggestions</p>

        </main>
      </div>
    </div>
    {% endblock %}
