{% extends "layout.html" %}
{% block body %}

        <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
          <h1 class="bd-title" id="content">Contact us on:-</h1>
          <div> </div>
          <h4 class="mt-5">Gmail</h4>
          <a href="letsnoopp@gmail.com" target="_blank" >letsnoopp@gmail.com</a>
          <h4 class="mt-5">Instagram</h4>
          <a href="https://instagram.com/letsnoopp?igshid=10sics4k86uj4">https://instagram.com/letsnoopp?igshid=10sics4k86uj4</a>
          <h4 class="mt-5">twitter</h4>
          <a href="https://twitter.com/letsnoopp?s=08">https://twitter.com/letsnoopp?s=08</a>
          <h4 class="mt-5">Facebook</h4>
          <a href="https://www.facebook.com/lets.snoopp.9">https://www.facebook.com/lets.snoopp.9</a>
          <h4 class="mt-5"></h4>
          {% endblock %}

